<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="container">
		<h1>Registration Form Validator</h1>
		<form action="/process" method="post">
			Email:<input type="text" name="email">
			First Name:<input type="text" name="first_name">
			Last Name:<input type="text" name="last_name">
			Password:<input type="password" name="password">
			Confirm Password:<input type="password" name="cfrm_password">
			<input type="submit" name="submit" value="Submit">
			<input type="submit" name="logout" value="Logout">
		</form>
		<!-- Shows under form !-->
		<div id="message">
													<!-- sets categories to true !-->
				{% with messages = get_flashed_messages(with_categories=true) %}
				  {% if messages %}
				    <ul class=flashes>
				    <!-- counts every category and message in message variable !-->
				    {% for category, message in messages %}
				    <!-- takes a category as a class, in order to use css to change, i.e(red=error, green=correct, warning=yellow)!-->
				      <li class="{{ category }}">{{ message }}</li>
				    {% endfor %}
				    </ul>
				  {% endif %}
				{% endwith %}
			</div>
	</div>

</body>
</html>